<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="GreenCitySuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="UITests">
        <classes>
            <class name="com.greencity.ui.ecoNews.EcoNewsPreviewPageTest"/>
            <class name="com.greencity.ui.ecoNews.EcoNewsTests"/>
            <class name="com.greencity.ui.ecoNews.EditEcoNewsPageTest"/>

            <class name="com.greencity.ui.pages.EcoNewsDetailsPageTest"/>
            <class name="com.greencity.ui.pages.EcoNewsTableCardComponentTest"/>

            <class name="com.greencity.ui.CreateNewsTitleValidationTest"/>
            <class name="com.greencity.ui.FooterTest"/>
        </classes>
    </test>
</suite>