<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="GreenCitySuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="UITests">
        <classes>
            <class name="com.greencity.ui.testrunners.BaseTestRunner"/>
            <class name="com.greencity.ui.testrunners.TestRunnerWithUser"/>
            <class name="com.greencity.ui.BaseTest"/>
            <class name="com.greencity.ui.BaseTestWhithUser"/>
            <class name="com.greencity.ui.FooterTest"/>
            <class name="com.greencity.ui.ecoNews.EcoNewsTests"/>
            <class name="com.greencity.ui.ecoNews.EditEcoNewsPageTest"/>
            <class name="com.greencity.ui.CreateNewsTitleValidationTest"/>
        </classes>
    </test>
</suite>